<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- Global log level configuration -->
    <variable name="logDirectory" value="logs" />
    
    <targets>
        <!-- Console logging -->
        <target name="console" xsi:type="Console" layout="${longdate} [${level}] ${message} ${exception}" />
        
        <!-- File logging (rotating logs daily) -->
        <target name="file" xsi:type="File"
                fileName="${basedir}/logs/${shortdate}-app.log"
                archiveFileName="${basedir}/logs/app.{#}.log"
                archiveNumbering="Rolling"
                archiveEvery="Day"
                maxArchiveFiles="7"
                layout="${longdate} [${level}] ${message} ${exception}"
                createDirs="true"/>

    </targets>

    <rules>
        <!-- Log everything to console -->
        <logger name="*" minlevel="Info" writeTo="console" />
        
        <!-- Log warnings and errors to file -->
        <logger name="*" minlevel="Warning" writeTo="file" />

        <!-- Log only errors to database -->
        <logger name="*" minlevel="Error" writeTo="database" />
    </rules>
</nlog>
